/* to make lines scroll instead of wrap */
/* from http://stackoverflow.com/a/23393920 */

.highlight pre code * {
  white-space: nowrap;    // this sets all children inside to nowrap
}

.highlight pre {
  overflow-x: auto;       // this sets the scrolling in x
}

.highlight pre code {
  white-space: pre;       // forces <code> to respect <pre> formatting
}


/*
 * Dark theme syntax highlighting for code blocks
 * Based on GitHub Dark theme
 */

.highlight pre, pre, .highlight .hll { 
  background-color: #2d2d2d !important; 
  border: 1px solid #404040 !important; 
  padding: 6px 10px; 
  border-radius: 3px; 
  color: #e4e4e4 !important;
}
.highlight .c { color: #7c7c7c; font-style: italic; } /* Comment */
.highlight .err { color: #ff5555; background-color: transparent; } /* Error */
.highlight .k { color: #ff79c6; font-weight: bold; } /* Keyword */
.highlight .o { color: #ff79c6; font-weight: normal; } /* Operator */
.highlight .cm { color: #7c7c7c; font-style: italic; } /* Comment.Multiline */
.highlight .cp { color: #ff79c6; font-weight: bold; } /* Comment.Preproc */
.highlight .c1 { color: #7c7c7c; font-style: italic; } /* Comment.Single */
.highlight .cs { color: #7c7c7c; font-weight: bold; font-style: italic; } /* Comment.Special */
.highlight .gd { color: #ff5555; background-color: transparent; } /* Generic.Deleted */
.highlight .gd .x { color: #ff5555; background-color: transparent; } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic; } /* Generic.Emph */
.highlight .gr { color: #ff5555; } /* Generic.Error */
.highlight .gh { color: #b8b8b8; } /* Generic.Heading */
.highlight .gi { color: #50fa7b; background-color: transparent; } /* Generic.Inserted */
.highlight .gi .x { color: #50fa7b; background-color: transparent; } /* Generic.Inserted.Specific */
.highlight .go { color: #888888; } /* Generic.Output */
.highlight .gp { color: #b8b8b8; } /* Generic.Prompt */
.highlight .gs { font-weight: bold; } /* Generic.Strong */
.highlight .gu { color: #bd93f9; font-weight: bold; } /* Generic.Subheading */
.highlight .gt { color: #ff5555; } /* Generic.Traceback */
.highlight .kc { color: #ff79c6; font-weight: bold; } /* Keyword.Constant */
.highlight .kd { color: #8be9fd; font-weight: bold; } /* Keyword.Declaration */
.highlight .kn { color: #ff79c6; font-weight: bold; } /* Keyword.Namespace */
.highlight .kp { color: #ff79c6; font-weight: bold; } /* Keyword.Pseudo */
.highlight .kr { color: #ff79c6; font-weight: bold; } /* Keyword.Reserved */
.highlight .kt { color: #8be9fd; font-weight: bold; } /* Keyword.Type */
.highlight .m { color: #bd93f9; } /* Literal.Number */
.highlight .s { color: #f1fa8c; } /* Literal.String */
.highlight .n { color: #f8f8f2; } /* Name */
.highlight .na { color: #50fa7b; } /* Name.Attribute */
.highlight .nb { color: #8be9fd; } /* Name.Builtin */
.highlight .nc { color: #50fa7b; font-weight: bold; } /* Name.Class */
.highlight .no { color: #bd93f9; } /* Name.Constant */
.highlight .ni { color: #f8f8f2; } /* Name.Entity */
.highlight .ne { color: #50fa7b; font-weight: bold; } /* Name.Exception */
.highlight .nf { color: #50fa7b; font-weight: bold; } /* Name.Function */
.highlight .nn { color: #f8f8f2; } /* Name.Namespace */
.highlight .nt { color: #ff79c6; } /* Name.Tag */
.highlight .nv { color: #f8f8f2; } /* Name.Variable */
.highlight .ow { color: #ff79c6; font-weight: bold; } /* Operator.Word */
.highlight .w { color: #f8f8f2; } /* Text.Whitespace */
.highlight .mf { color: #bd93f9; } /* Literal.Number.Float */
.highlight .mh { color: #bd93f9; } /* Literal.Number.Hex */
.highlight .mi { color: #bd93f9; } /* Literal.Number.Integer */
.highlight .mo { color: #bd93f9; } /* Literal.Number.Oct */
.highlight .sb { color: #f1fa8c; } /* Literal.String.Backtick */
.highlight .sc { color: #f1fa8c; } /* Literal.String.Char */
.highlight .sd { color: #f1fa8c; } /* Literal.String.Doc */
.highlight .s2 { color: #f1fa8c; } /* Literal.String.Double */
.highlight .se { color: #f1fa8c; } /* Literal.String.Escape */
.highlight .sh { color: #f1fa8c; } /* Literal.String.Heredoc */
.highlight .si { color: #f1fa8c; } /* Literal.String.Interpol */
.highlight .sx { color: #f1fa8c; } /* Literal.String.Other */
.highlight .sr { color: #f1fa8c; } /* Literal.String.Regex */
.highlight .s1 { color: #f1fa8c; } /* Literal.String.Single */
.highlight .ss { color: #f1fa8c; } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2; } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2; } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2; } /* Name.Variable.Instance */
.highlight .il { color: #bd93f9; } /* Literal.Number.Integer.Long */
.highlight .gc { color: #b8b8b8; background-color: #2d2d2d; } /* Generic.Comment */
